<!-- HTML -> Lenguaje de Marcacion de Hipertexto -->
<!DOCTYPE html><!--Definimos el tipo de documento vamos a utilizar -->
<html lang="es"><!-- Establecemos el idioma -->
<head><!-- Define la cabecera del documento -->
    <meta charset="UTF-8"><!-- Definimos la codificacion del documento  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title><!-- Titulo de la aplicacion en la ventana del navegador -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body><!-- Cuerpo de mi documento -->
    <div id="appAlumnos" class="container-fluid">
        <form v-on:submit.prevent="guardarAlumno" v-on:reset="limpiar">
            <div class="row">
                <div class="col-sm-5">
                    <div class="row p-2">
                        <div class="col-sm text-center text-white bg-primary">
                            <h5>REGISTRO DE ALUMNOS</h5>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">CODIGO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.codigo"  type="text" class="form-control form-control-sm" >
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">NOMBRE:</div>
                        <div class="col-sm">
                            <input v-model="alumno.nombre"  type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">DIRECCION:</div>
                        <div class="col-sm">
                            <input v-model="alumno.direccion" type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">MUNICIPIO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.municipio" type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">DEPARTAMENTO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.departamento" type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">TELEFONO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.telefono" type="tel" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">FECHA DE NACIMIENTO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.f_nacimiento" type="date" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">SEXO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.sexo"  required pattern= "[F  - M]{1}" type="text" class="form-control form-control-sm" placeholder="F - M">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">IMAGEN:</div>
                        <div class="col-sm">
                            <img width="200" height="200" class="rounded-circle" :src="alumno.img">
                            <!--<img class="img-fluid" :src="producto.img2">-->
                            <input v-on:change="obtenerImg($event)" multiple type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row -p-2">
                        <div class="col-sm text-center">
                            <input type="submit" value="Guardar" class="btn btn-dark">
                            <input type="reset" value="Limpiar" class="btn btn-warning">
                        </div>
                    </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm-6 p-2">
                    <div class="row text-center text-white bg-primary">
                        <div class="col"><h5>ALUMNOS/AS REGISTRADOS</h5></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="tble table-sm">
                                <thead>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>DIRECCION</th>
                                        <th>MUNICIPIO</th>
                                        <th>DEPARTAMENTO</th>
                                        <th>TELEFONO</th>
                                        <th>F_NACIMIENTO</th>
                                        <th>SEXO</th>
                                        <th>IMG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="alu in alumnos" v-on:click="mostrarAlumno(alu)">
                                        <td>{{ alu.codigo}}</td>
                                        <td>{{ alu.nombre}}</td>
                                        <td>{{ alu.direccion}}</td>
                                        <td>{{ alu.municipio}}</td>
                                        <td>{{ alu.departamento}}</td>
                                        <td>{{ alu.telefono}}</td>
                                        <td>{{ alu.f_nacimiento}}</td>
                                        <td>{{ alu.sexo}}</td>
                                        <td>{{ alu.img }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>